.page-heading h3 {
    line-height: 1.5;
  }
  
  .tpTerms ul {
    list-style-type: none;
    padding-left: 0px;
  }
  
  .container.reg_terms.sec-info-content.tpTerms {
    padding-top: 15px;
    min-height: 500px;
  }
  
  a .TpBenefits {
    margin-bottom: 30px;
  }
  