/* .update-ps .eye-icon{
    transform: translateY(15%);
  } */
  .update-ps .eye-icon {
    position: absolute;
    width: 100%;
    top: 15px;
    right: 15px;
}
.update-ps .eye-icon:before {
  position: absolute;
  top: 24px;
  right: 0;
}