@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 6px solid lightgrey; /* Light grey */
  border-top: 6px solid grey; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  place-content: center;
}

.loader_div {
  height: 70px;
}

.loader_div2 {
  height: 70px;
  margin-top: 20px;
}
