/* .change-ps .eye-icon {
    transform: translateY(-35%) !important;
} */
.change-ps .eye-icon {
    position: absolute;
    width: 100%;
    top: 15px;
    right: 15px
}
.change-ps .eye-icon:before {
  position: absolute;
  top: 24px;
  right: 0;
}